<mat-card class="todo-card" *ngIf="this.todo">
  <mat-card-header>
    <mat-card-title class="todo-card-owner">{{ this.todo.owner }}</mat-card-title>
    <mat-card-subtitle class="todo-card-category">{{ this.todo.category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><span class="todo-card-body">{{ todo.body }}</span></p>
    <p *ngIf="!this.todo.status" class="todo-status-false" >This to-do has not been completed!</p>
    <p *ngIf="this.todo.status" class="todo-status-true">This To-do has been completed!</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="return-button" mat-button data-test="viewDetailButton"  [routerLink]="'/todos'">Return To List</button>
  </mat-card-actions>
</mat-card>
